#logo {
padding-left:3px;
}
.venueName{
    margin-top:6px;
}
.venueIcon{
    margin-left:-7px;
}

.photoCaption{
    margin-bottom:15px;
}

.pagination a {
 cursor: pointer;
}
.seperator{
    margin:3px 0 6px 0;
}

body {
   padding-bottom:20px;   /* Height of the footer */
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */

}