<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SBConnectionString" value="Endpoint=sb://gsusiteprovisioning.servicebus.windows.net/;SharedAccessKeyName=Publish;SharedAccessKey=d1TUqNWv1eICr13i+r/OgA3iJUeor9IR7wThoAhSYxU=" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="SBTopic" value="SCAMP" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gsuscampprod;AccountKey=9rq9TwICSY07IQYFM8iKeZIWD74SFbMZOUEbBdPQCc5TVnVxLLj7MLhPJ5hCpjV+HHA6Ltdh2Q17umh4mxyW8g==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="ProvisionTable" value="SCAMP" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="PrincipalOwnerId" value="4a35dac0-c9f4-410e-b065-e69190154604" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="ApplicationId" value="626778dc-eae3-4aa6-b2fb-29d505c3a1a7" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="ApplicationSecret" value="bbD/QGANWpmaNnYemMLmPxfZhqOMRrAneBTEoth/qg0=" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="TenantId" value="515ad73d-8d5e-4169-895c-9789dc742a70" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="SubscriptionId" value="d8dd232d-e6f8-4d71-956d-90552ef30787" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add />
  </appSettings>
</configuration>