<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--
      This is the service bus connection string and should be a write-only key.
      
      You can obtain this key by following these instructions:
        - Navigate to your Azure subscription
        - Select the service bus or create one
        - Select a topic or create one
        - From the topic Dashboard there is a Connection Information icon at the bottom.
        
        If you don't see a Write\Publish only key here. Please go to configure for the Topic and create one.
    -->
    <add key="SBConnectionString" value="Endpoint=sb://gsusiteprovisioning.servicebus.windows.net/;SharedAccessKeyName=Publish;SharedAccessKey=d1TUqNWv1eICr13i+r/OgA3iJUeor9IR7wThoAhSYxU=" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="SBTopic" value="SCAMP" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
    <!--
      This is the connection string for a storage account. The easiest way to obtain this is using Visual Studio
      or to get the Key from the Azure portal and replace the account name and key below.
      
      The ProvisionsTable will be used as a prefix for tables that are created as part of the service
    -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="ProvisionTable" value="SCAMP" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
    <!--
      The PrincipalOwnerId is the object id for an object in Azure Active directory. Ideally this value will not be hardcoded in the future
      and will be obtained from the logged in user that is accessing the portal.
    -->
    <add key="PrincipalOwnerId" value="4a35dac0-c9f4-410e-b065-e69190154604" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
    <!--
      The ApplicationId and ApplicationSecret come from an application in Azure Active Directory.
      
      The application must have the following permissions assigned to it:
        Access Azure Server Management
        Read Directory Data
        Access Organization's Directory
        Enable Sign-on and read user's profiles
        
     The application must also be configured modify Resource Based Access Control object. The only way to currently accomplish this is
     through the Azure Power Shell tools. RBAC is not currently enable for Azure CLI.
        - Launch Azure Power Shell
        - Switch-AzureMode AzureResourceManager
        - New-AzureRoleAssignment -ServicePrincipalName "<ApplicationId>"  -RoleDefinitionName "Contributor" -Scope "/subscriptions/<Your Azure SubscriptionId>"  
    -->
    <add key="ApplicationId" value="626778dc-eae3-4aa6-b2fb-29d505c3a1a7" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="ApplicationSecret" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="TenantId" value="515ad73d-8d5e-4169-895c-9789dc742a70" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="SubscriptionId" value="d8dd232d-e6f8-4d71-956d-90552ef30787" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add />
  </appSettings>
</configuration>